.recommend-wrapper {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    .recommend-title {
        background: linear-gradient(to right, rgb(88, 174, 221) 2%, rgb(66, 191, 205) 97%) rgb(88, 174, 221);
    }
    .recommend-content {
        max-height: 758px;
        padding: 10px 10px 20px;
        width: 100%;
        box-sizing: border-box;
        overflow-y: hidden;
        text-align: left;
        ul {
            li {
                margin: 0;
                padding: 10px;
                width: 20%;
                box-sizing: border-box;
                vertical-align: middle;
                &:hover {
                    background: #F4F4F4;
                    -webkit-transition: background-color 500ms;
                    -ms-transition: background-color 500ms;
                    transition: background-color 500ms;
                    border-radius: 4px;
                }
                a {
                    .recommend-content-car {
                        .recommend-img {
                            height: 0;
                            width: 100%;
                            padding-bottom: 56.25%;
                            background-color: #f4f4f4;
                            background-image: url(//p0.meituan.net/travelcube/214b841….png);
                            background-size: cover;
                            background-position: 50% 50%;
                            border-radius: 4px;
                            overflow: hidden;
                            img {
                                width: 100%;
                                font-size: 0;
                            }
                        }
                        .recommend-info {
                            position: relative;
                            margin-top: 10px;
                            .title {
                                font-size: 14px;
                                color: #222222;
                                line-height: 20px;
                                width: 100%;
                                margin: 0;
                                font-weight: 500;
                            }
                            .title.align {
                                font-size: 16px;
                                line-height: 22px;
                                width: 100%;
                                height: 22px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                            .score-line {
                                height: 24px;
                                display: flex;
                                .score {
                                    width: 84px;
                                    height: 24px;
                                    ul {
                                        list-style: none;
                                        padding: 0;
                                        text-align: left;
                                        margin: 3px 0;
                                        white-space: nowrap;
                                        li {
                                            display: inline-block;
                                            padding: 0px 2px;
                                        }
                                    }
                                    .rate-dark {
                                        color: #c3c3c3;
                                    }
                                }
                                .comment-num {
                                    font-size: 12px;
                                    color: #999;
                                    height: 24px;
                                    line-height: 24px;
                                    margin-left: 10px;
                                }
                            }
                            .dec-line {
                                font-size: 12px;
                                color: #999999;
                                width: 100%;
                                height: 18px;
                                line-height: 18px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                margin-top: 4px;
                            }
                            .bottom-line {
                                height: 28px;
                                color: #FF6600;
                                .yuan {
                                    font-size: 14px;
                                    font-weight: 700;
                                }
                                .price-num {
                                    font-size: 22px;
                                }
                                .qi {
                                    font-size: 12px;
                                    margin-left: 4px;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}